body {
    padding: 0px;
    margin: 0px;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-x: hidden; /* 화면 삐져나감 방지 */
}

.image-part {
    background-image: url('./img/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@font-face {
    font-family: 'Norse-Bold';
    src: url('./font/Norse-Bold.otf');
}

.title {
    font-family: 'Norse-Bold';
    font-size: 100px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    top: 20%;
}

.footer {
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.footer a {
    color: white;
}

.form-part{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    justify-content: center;
    box-sizing: border-box;
}

.description-div {
    font-size: 30px;
    margin: 50px 50px 30px 50px;
}

.form-div {
    width: 100%;
    background-color: white;
    box-shadow: 5px 5px 5px gray;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.form-title {
    font-size: 30px;
    margin-bottom: 20px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-between;
}

.input-label {
    display: flex;
    flex-direction: column;
    margin: 10px 10px 10px 0px;
}

.input-label input {
    font-size: 20px;
    border-radius: 5px;
    border: 1.5px solid #E5E7EB;
    padding: 5px;
    margin: 5px 5px 5px 0px;
}

.input-label input:focus {
    border-color: blue;
    outline: none;
    box-shadow: 5px 5px 5px rgba(200, 200, 200, 0.7);
}

.input-label input:invalid {
    border-color: red;
}

.btn-div {
    width: 100%;
    height: 100%;
    padding: 50px 0px 50px 50px;
}

.btn {
    padding: 15px 50px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    background-color: #596D48;
    color: white;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px #E5E7EB;
}

.btn:hover {
    cursor: pointer;
    transition-duration: .5s;
    background-color: #DF7401;
    transform: scale(1.1);
}

.login-ask a {
    text-decoration: none;
    color: #596D48;
    font-weight: bold;
}

::-webkit-scrollbar {
    display: none;
  }